.git
.github
.pixi
.ruff_cache
.mypy_cache
.pytest_cache
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
docs
tests
changes
.env
.env.*
.dockerignore
Dockerfile
.editorconfig
.pre-commit-config.yaml
mkdocs.yml
site
CHANGELOG.md
CONTRIBUTING.md
SECURITY.md
.trae
.trashbin
